body {
      margin: 0;
}

#frameInfo {
    position: absolute;
    top: 70px;
    left: 200px;
    padding: 10px;
    background: white;
}

#slider { 
	position: absolute;
    top: 100px;
    left: 200px;
	margin: 10px; 
	width: 100px;
}

#play { 
	position: absolute;
    top: 150px;
    left: 200px;
	margin: 10px; 
	width: 100px;
}

